### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [17]:
       newplayer_df = purchase_data.loc[:,['SN','Gender','Age']]

       #clean the dataframe, get rid of duplicates and save

       new_player_df = newplayer_df.drop_duplicates()

       total_player_count = new_player_df['SN'].count()

       total_player_count

       Total_Player = [{'Total Players': total_player_count}]

       Total_Player_df = pd.DataFrame(  Total_Player)

       Total_Player_df

       


       # newplayer_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
Num_Unique_items = purchase_data['Purchase ID'].nunique()
Ave_price = purchase_data['Price'].mean()
Num_Purchase = len(purchase_data['Price'])
Total_Rev = purchase_data['Price'].sum()

sumary_purchase = [{'Number of Unique items':Num_Unique_items,'Average Price($)': Ave_price,'Number of Purchases':Num_Purchase,'Total Revenue($)':Total_Rev}]
sumary_purchase_data = pd.DataFrame(sumary_purchase)

sumary_purchase_data.head()

,Number of Unique items,Average Price($),Number of Purchases,Total Revenue($)
0,780,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
Gender_count = new_player_df["Gender"].value_counts()

Gender_count

Gender_df = pd.DataFrame(Gender_count)


Gender_df.head()

gender_total = Gender_df.sum()

percentage_player = (Gender_df/gender_total*100).round(2) 

#percentage_player

#gender_total

Gender_df['Percentage of Players(%)'] = percentage_player

Gender_df.head()

#Gender_df_new = Gender_df['Percentage of Players(%)'].round(2)

#Gender_df_new.head()

                       Gender  Percentage of Players(%)
Male                      484                     84.03
Female                     81                     14.06
Other / Non-Disclosed      11                      1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
group_purchase = purchase_data.groupby(['Gender'])

print(group_purchase)

pur_count = group_purchase['SN'].count()

#pur_count.head()

ave_pur_pri = (group_purchase['Price'].mean()).round(2)

#ave_pur_pri.head

tot_pur_val = group_purchase['Price'].sum()
#tot_pur_val.head()


ave_pur_per = (tot_pur_val/Gender_count).round(2)

#ave_pur_per.head()

group_purchase_df = pd.DataFrame({'Purchase Count':pur_count,'Average Purchase Price($)':ave_pur_pri,'Total Purchase Value':tot_pur_val,'Average Total Purchase per Person($)':ave_pur_per})

group_purchase_df.head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000186FF30C7F0>

,Purchase Count,Average Purchase Price($),Total Purchase Value,Average Total Purchase per Person($)
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
bins = pd.cut(new_player_df['Age'],[0,9,14,19,24,29,34,39,100])

age_group = new_player_df.groupby(bins)['Age'].count()

#age_group

age_tot = age_group.sum()

#age_tot

age_perc =  (age_group/age_tot*100).round(2)

#age_perc

age_group_df = pd.DataFrame({'Total Count':age_group,'Percentage of Players':age_perc})

#age_group_df
 
 
age_group_df = age_group_df.rename(index={'<10':'(0,9]','10-14':'(9,14]','15-19':'(14,19]','20-24':'(19,24]','25-29':'(24,29]','30-34':'(29,34]','35-39':'(34,39]','40+':'(39,100]'})

age_group_df

           Total Count  Percentage of Players
Age
(0, 9]              17                   2.95
(9, 14]             22                   3.82
(14, 19]           107                  18.58
(19, 24]           258                  44.79
(24, 29]            77                  13.37
(29, 34]            52                   9.03
(34, 39]            31                   5.38
(39, 100]           12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
bins = pd.cut(purchase_data['Age'],[0,9,14,19,24,29,34,39,100])
age_groupdf = purchase_data.groupby(bins)

purchase_count = age_groupdf['SN'].count()

#purchase_count

ave_pur_price = (age_groupdf['Price'].mean()).round(2)
#ave_pur_price

tot_pur_value =age_groupdf['Price'].sum()

#tot_pur_value

ave_tot_puch_per = (tot_pur_value/age_group).round(2)

#ave_tot_puch_per
sum_age_groupdf = pd.DataFrame({'Purchase Count':purchase_count,'Average Purchase Price':ave_pur_price,'Total Purchase Value':tot_pur_value,'Avg Total Purchase per Person':ave_tot_puch_per})

sum_age_groupdf

sum_age_groupdf_ren = sum_age_groupdf.rename(columns={'Purchase Count':'Purchase Count','Average Purchase Price($)':'Average Purchase Price','Total Purchase Value($)':'Total Purchase Value','Avg Total Purchase per Person($)':'Avg Total Purchase per Person'}, index={'<10':'(0,9]','10-14':'(9,14]','15-19':'(14,19]','20-24':'(19,24]','25-29':'(24,29]','30-34':'(29,34]','35-39':'(34,39]','40+':'(39,100]'})
sum_age_groupdf_ren

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
"(0, 9]",23,3.35,77.13,4.54
"(9, 14]",28,2.96,82.78,3.76
"(14, 19]",136,3.04,412.89,3.86
"(19, 24]",365,3.05,1114.06,4.32
"(24, 29]",101,2.90,293.00,3.81
"(29, 34]",73,2.93,214.00,4.12
"(34, 39]",41,3.60,147.67,4.76
"(39, 100]",13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
spenders_df = purchase_data.groupby(['SN'])

purch_count = spenders_df['SN'].count()

purch_count

ave_sp_pur_price =(spenders_df['Price'].mean()).round(2)

ave_sp_pur_price

tot_sp_pur_val = spenders_df['Price'].sum()

tot_sp_pur_val

sum_spenders_df = pd.DataFrame({'Purchase Count':purch_count,'Average Purchase Price($)':ave_sp_pur_price,'Total Purchase Value($)':tot_sp_pur_val})

sum_spenders_df

top_spenders_df = sum_spenders_df.sort_values('Purchase Count', ascending=False)

top_spenders_df.head()

,Purchase Count,Average Purchase Price($),Total Purchase Value($)
SN,,,
Lisosia93,5,3.79,18.96
Iral74,4,3.40,13.62
Idastidru52,4,3.86,15.45
Asur53,3,2.48,7.44
Inguron55,3,3.70,11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
  popular_df = purchase_data.loc[:,['Item ID','Item Name','Price']]
  
  popular_df

  grp_popular_df = popular_df.groupby(['Item ID','Item Name'])

  pop_pur_count = grp_popular_df['Item ID'].count()

  pop_pur_count

  pop_tot_pur_value = grp_popular_df['Price'].sum()

  pop_tot_pur_value

  pop_price = (pop_tot_pur_value/pop_pur_count).round(2)

  pop_price

  most_popular_df = pd.DataFrame({'Purchase Count':pop_pur_count,'Item Price':pop_price,'Total Purchase Value':pop_tot_pur_value})

  most_popular_df

  sort_most_popular_df = most_popular_df.sort_values('Purchase Count', ascending=False)

  sort_most_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [46]:
most_profitable_df = most_popular_df.sort_values('Total Purchase Value',ascending=False)

most_profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80